
body{
    background-color: #555555;
    color: rgb(244, 240, 240);
}
#main{
    height: 100vh;
    width: 100vh;
    background-image: url('./images/background_image.jpg');
}
header{
    background-color: transparent;
}
.navbar-logo,.navbar-elements{
    height: 70px;
    padding: 20px;
    
}